<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cydeo</title>

    <link th:href="@{/css/bootstrap-4.1.3-dist/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/custom.css}" rel = "stylesheet">
</head>
<body>
<h1 class="display-1 text-danger">Welcome to Cydeo Student Register Form</h1>
<h2 class = "cydeo">My custom css</h2>
<!--Display Value of Model-->
<h2 th:text="${students.get(0).firstName}"></h2>
<h2 th:text="${students.get(0).lastName}"></h2>
<!--Image Integration-->
<img th:src="@{/images/welcome-38249.png}">
<!--Concatenation-->
<h2 th:text="${'Hello ' + students.get(0).firstName}"></h2>
<h2 th:text="${students.get(0).firstName + ' '+students.get(0).lastName}"></h2>

<!--Link-->
<h2>
    <a th:href="@{https://cydeo.com}">Cydeo Page</a>
</h2>

<h2>
    <a th:href="@{/student/welcome}">Welcome</a>
</h2>
<!--Adding parameters in Link-->
<h2>
    <a th:href="@{/student/welcome(id=3)}">Welcome</a>
</h2>

<h2>
    <a th:href="@{/student/welcome(name=${students.get(0).firstName})}">Welcome</a>
</h2>
<!--Iteration-->
<h2>Printing my list</h2>
<ul>
    <li th:each="name : ${students}" th:text="${name}">Apple</li>
</ul>
<h2>Printing Student's First Name</h2>
<ul>
    <li th:each=" student : ${students} " th:text="${student.firstName}"></li>
</ul>

<h2>Printing Student's Last Name</h2>
<ul>
    <li th:each=" student : ${students} " th:text="${student.lastName}"></li>
</ul>

<table>
    <thead>
    <tr>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Age</td>
        <td>Gender</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each=" student : ${students}">
        <td th:text="${student.firstName}"></td>
        <td  th:text="${student.lastName}"></td>
        <td  th:text="${student.age}"></td>
        <td th:text="${student.state}"></td>
    </tr>
    </tbody>

</table>
</body>
</html>